body {
    font-family: Cormorant, serif;
}

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

.title {
    text-decoration: none;
    color: black;
}

h1 {
    display: inline-block;
    font-weight: 300;
    cursor: pointer;
    /* padding-right: 700px; */


}

.links {
    display: inline-block;


}

.links li {
    display: inline-block;



}

.links a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 0 8px;
    padding-left: 5px;



}

#navbar {
    margin: 32px;
    background-color: white;
    /* box-shadow: 2px 3px 3px red; */
}


/* .active {
    /* padding-left: 3.5px; */
    /* border-bottom: 1px solid rgb(25, 161, 7); */




.card img {
    width: 500PX;
    width: 100%;
    object-fit: cover;
}

.card {
    width: 49.75%;
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
}

.card h2 {
    display: inline-block;
    margin: 8px 0 16px 0;
    font-weight: 300;
}

.photogrid {
    margin-left: 17px;
}

.footerr {
    margin-left: 90px;
    width: 600px;
    font-size: 22px;
    margin-bottom: 120px;
}

.lwt {
    font-size: 25px;
    /* margin-bottom: 30px; */
}

.footerr .lwt {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.Df {
    font-weight: 400;
}

.email {
    font-size: 12px;
    margin-bottom: 1px;
    margin-left: 90px;

}

.number {
    font-size: 10px;
    margin-top: 0px;
    margin-left: 90px;

}

*::selection {
    background-color: red;
    color: white;



}

.active:hover {
    color: rgb(25, 161, 7);
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(25, 161, 7);

}

.active2:hover {
    color: rgb(25, 161, 7);
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(25, 161, 7);

}

.active3:hover {
    color: rgb(25, 161, 7);
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(25, 161, 7);

}

.active4:hover {
    color: rgb(25, 161, 7);
    padding-bottom: 1px;
    border-bottom: 1px solid rgb(25, 161, 7);

}